* {   
background-color: lightgray;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: rgb(46, 45, 45);
    color: aqua;
}
h1 {
    background-color: darkblue;
    border-style: double;
    border-color: black;
    
}
nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    background-color: rgb(46, 45, 45);
    
    
}
.container {
    position: relative;
    text-align: center;
    color: rgb(6, 29, 87);
}
.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 200px;
    font-size: 50px;
    background-color:orange ;
}
nav a {
    color: aqua;
    font-weight: bold;
    text-decoration: underline;
    padding: 14px 20px;
    background-color: rgb(46, 45, 45);
}
nav a:hover {
    color: aliceblue;
}
header nav  {
    flex-direction: row;
    background-color: rgb(46, 45, 45);
}
img {
    position: relative;
    width: 100%;
    height: 250px; 
}


 span {
    position: absolute;
    align-items: flex-start;
    text-indent: 40%;
    width: 50%;
   float: right;    
   font-size: medium;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
aside p {
    margin: .5px;
}
.surf-report {
    position: relative;
    text-align: center;
    color: rgb(6, 29, 87); 
}
.surf-report {
    position: absolute;
    bottom: 20px;
    right: 200px;
    font-size: 50px;
    background-color:orange; 
}
figure {
    position: relative;
    width: 40%;
    float: right;
    display: flex;
    flex: flex-start;
}
#cover {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
#cover > img {
    float: right;
    border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}
footer {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    color:#13293D;
  
}
h5 {
    font-size: 24px;
}
div a {
    color: #13293D;
    padding: 14px 20px;
    justify-content: space-between;
}
